name: Update copyright year

on:
  schedule:
    - cron: '0 3 1 1 *' # 03:00 AM on January 1

jobs:
  update-copyright-year:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - uses: FantasticFiasco/action-update-license-year@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: |
            LICENSE
            */Properties/AssemblyInfo.cs
          transform: (?<=[Cc]opyright \S{1,3} )(?<from>\d{4})?-?(\d{4})?
